@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,600;1,100;1,900&display=swap');

:root {
	--dark: rgb(47, 76, 121);
	--primary: rgb(215, 171, 97);
	--secondary: rgb(224, 98, 54);
	--anothery: rgb(200, 35, 55);
}

body { 
	font-family: 'Advent Pro', sans-serif;
    color: var(--primary);
	max-height: 100%;
    background-image: url("../img/star-news.jpg");
	background-size: 100vw auto;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}

.back__link {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
}

.container, .container__template {
    max-width: 500px;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    background-color: var(--dark);
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 0 15px;
    margin-top: 50px;
}
.posts {
    padding: 20px;
    font-weight: 600;
}
.posts__title {
    font-size: 24px;
}
.posts__body {
    font-size: 18px;
}
.comments {
    padding: 0 20px 20px 20px;
    font-weight: 600;
}
.comments__border {
    margin: 0;
    padding-left: 20px;
    font-weight: 600;
    background-color: var(--secondary);
    color: white;
}
.container__template {
    display: none;
}
.hidden {
    display: none;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}
  
.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid var(--dark);
    background-color: var(--dark);
    color: var(--primary);
    border-radius: 1px;
    border: none;
}
  
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
.pagination button.active {
    background-color: var(--primary);
    color: white;
}
